<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Bem-vindo ao Desafio Cielo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Abra o menu lateral para visualizar o extrato do lançamento de conta legado.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
